// media
@mixin xxs {
  @media only screen and (max-width: 500px) {
    @content;
  }
}
@mixin xs {
  @media only screen and (max-width: 767px) {
    @content;
  }
}
@mixin sm {
  @media only screen and (max-width: 991px) {
    @content;
  }
}
@mixin md {
  @media only screen and (max-width: 1199px) {
    @content;
  }
}
@mixin lg {
  @media only screen and (max-width: 1400px) {
    @content;
  }
}
@mixin min_xs {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
@mixin min_xs {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin en {
  html[dir="ltr"] & {
    @content;
  }
}
@mixin ar {
  html[dir="rtl"] & {
    @content;
  }
}

@mixin d_flex_c {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin btn_m {
  @include d_flex_c;
  width: 38px;
  height: 38px;
  border: 2px solid $color_2;
  font-size: $font_s;
  color: $color_2;
  margin-inline-end: 10px;
}

@mixin drop_d {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

@mixin btn_gh {
  height: $height_btn;
  font-size: $font_s;
  font-weight: 600;
}

@mixin acpict_r {
  position: absolute;
  top: 0;
  left: 00;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin title_ab {
  font-size: 25px;
  color: $color_1;
  font-weight: 700;
  margin-bottom: 45px;
  &:after {
    content: " ";
    width: 31px;
    height: 2px;
    background-color: $color_2;
    display: block;
    position: absolute;

    margin-top: 15px;
    text-align: center;
  }
}

@mixin title_main {
  font-size: 25px;
  color: $color_1;
  font-weight: 700;
  margin: 0 auto 80px;
  text-align: center;
  &:after {
    content: " ";
    width: 31px;
    height: 2px;
    background-color: $color_2;
    display: block;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 15px;
  }
}

@mixin angle_ {
  &::after {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    position: absolute;
    color: $color_1;
    top: -11px;
    font-size: 15px;
    line-height: 3.273;
    font-weight: 900;
    transition: 0.5s;
    @include ar {
      left: 15px;
    }
    @include en {
      right: 15px;
    }
  }
  &[aria-expanded="true"]::after {
    content: "\f106";
  }
}

@mixin dots_ {
  .owl-dots {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translatex(-50%);
    // font-size: 18px;
    color: $main_color;
    z-index: 9999;
    .owl-dot {
      width: 16px;
      height: 3px;
      background-color: #212121;
      opacity: 0.5;
      margin-inline-end: 5px;
    }
    .active {
      background-color: $main_color;
      opacity: 1;
      transform: scale(1.2);
      outline: 0;
    }
  }
}
