//  colors
$black_color: #000000;
$main_color: #f47a3c;
$color_1: #ffffff;
$color_2: #666666;
$color_3: #f2f2f2;
$color_4: #f7f7f7;
$color_5: #9d9c9c;
$color_6: #efefef;
$color_7: #959494;
$color_8: #04b7bb;
$color_9: #999999;
$color_10: #4d4d4d;
$color_11: #808080;

// button
$height_btn: 49px;

// font

$font_s: 16px;
$font_b: 700;

//var sass display flex
@mixin flex-var($flex, $item-center, $justify) {
  display: $flex;
  align-items: $item-center;
  justify-content: $justify;
}

//var sass display flex
@mixin grid-var($grid, $repeat, $gap) {
  display: $grid;
  grid-template-columns: $repeat;
  gap: $gap;
}
