// start header
header {
  transition: 0.5s;
}
.header {
  transition: 0.5s;
  @include flex-var(flex, center, space-between);
  padding: 15px 0;
  .logo {
    order: 1;
    img {
      transition: 0.5s;
    }
  }
  nav {
    order: 2;
  }
  .div-order-now_bars {
    order: 3;
  }
}
.btn_close_nave {
  display: none;
}
// start style nav
nav {
  z-index: 99;
  padding-top: 0;
  .ul_nav {
    @include flex-var(flex, center, space-between);
    li {
      &:hover {
        .anc_nav {
          color: $color_1;
        }
      }
      .anc_nav {
        font-size: 14px;
        text-transform: capitalize;
        color: $black_color;
        padding: 0 12px;
        &:hover {
          color: $main_color;
        }
      }
    }
  }
}
.div-order-now_bars {
  @include flex-var(flex, center, space-between);
}
.order-now {
  min-width: 135px;
  height: 42px;
  border-radius: 21px;
  background-color: #e06426;
}
.btn_bars {
  font-size: 22px;
  color: $black_color;
  margin-inline-start: 15px;
  display: none;
}
// mobile media

@include xs {
  .header {
    padding: 10px 0;
  }
  .btn_bars {
    display: block;
  }
  .btn_close_nave {
    display: block;
    position: absolute;
    top: 20px;
    inset-inline-end: 20px;
    font-size: 20px;
    color: $black_color;
  }
  nav {
    position: absolute;
    top: 0;
    inset-inline-start: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    padding-top: 0;
    z-index: 2;
    transition: 0.5s;
    .ul_nav {
      flex-direction: column;
      padding-top: 100px;
      li {
        margin-bottom: 15px;

        .anc_nav {
          font-size: 16px;
        }
      }
    }
  }
}
.open_nav {
  inset-inline-start: 0;
  transition: 0.5s;
}
@include md {
  .header {
    flex-wrap: wrap;
    .logo {
      order: 1;
    }

    nav {
      order: 3;
    }
    .div-order-now_bars {
      order: 2;
    }
  }
  nav {
    padding-top: 20px;
    .ul_nav {
      li {
        .anc_nav {
          padding: 0 10px;
          &:hover {
            color: $main_color;
          }
        }
      }
    }
  }
}
// select country
.select-country-title {
  margin: 0 10px;
  font-size: 12px;
  color: $color_5;
}
.anc_lang {
  font-size: 12px;
  color: $color_1;
  font-weight: bold;
  text-align: end;
  width: 78px;
  height: 26px;
  background: #9d9c9c;
  @include flex-var(flex, center, center);
}
// cearte css select
.select_div {
  position: relative;
  width: 138px !important;
  .select2-search--dropdown {
    display: none !important;
  }
  .angle_ {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    inset-inline-end: 15px;
    z-index: 11;
    font-size: 14px;
    inset-inline-end: 30px;
    color: $color_11;
  }
}
.select2.select2-container.select2-container--default.select2-container--below.select2-container--open {
  width: 100%;
}
