.packages_section {
  padding: 120px 0;
  position: relative;
}
.packages {
  .nav {
    justify-content: center;
    border: none;
  }
}
.nav-tabs {
  margin-bottom: 50px;
}
.nav-tabs .nav-link.active {
  color: $main_color;
  border: 2px solid $main_color;
  background-color: $color_1;
  position: relative;
}
.nav-tabs .nav-link {
  text-align: center;
  padding: 0;
  min-width: 179px;
  background-color: $color_3;
  padding: 0 30px;
  transition: 0.5s;
  color: $color_9;
  height: 50px;
  border-radius: 25px;
  font-weight: 700;
  font-size: 16px;
  margin-inline-end: 10px;
  @include flex-var(flex, center, center);
}
.div-tab-toggle {
  @include flex-var(flex, center, center);
  .item {
    margin: 0 15px;
    text-align: center;
    .anc_package {
      font-size: 16px;
      color: $black_color;
      text-align: center;
      display: inline-grid;
      margin-bottom: 20px;
      width: 100%;

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
    figure {
      overflow: hidden;
      margin-bottom: 20px;
      width: 100%;
      img {
        transition: 0.5s;
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
  }
}

.btn_order_now {
  margin: auto;
  width: 180px;
  height: 50px;
  border-radius: 25px;
  background-color: $main_color;
  color: $color_1;
}

.div_order_now {
  background-color: $color_1;
  padding: 40px;
  display: flex;
}
.order_popup {
  display: none;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 100;
}
.content_order_now {
  text-align: start;
  padding-inline-start: 30px;

  .title_order {
    font-size: 20px;
    color: $black_color;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .paragraph_order {
    width: 575px;
    font-size: 14px;
    color: $color_10;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .price_order {
    font-size: 30px;
    color: $color_8;
    font-weight: 700;
    margin-bottom: 50px;
    display: inline-block;
  }
  .Select-Size {
    @include flex-var(flex, center, space-between);
    h5 {
      font-size: 14px;
      color: $black_color;
      font-weight: 700;
      margin-inline-end: 10px;
    }
    .btn_order_now {
      margin: inherit;
    }
    .div-select_order_ {
      @include flex-var(flex, center, space-between);
    }
    .select2.select2-container.select2-container--default {
      width: 130px !important;
    }
  }
}
.select2-dropdown.select2-dropdown--below .select2-search--dropdown {
  display: none !important;
}
.overlay-packages {
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: 2;
  display: none;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.btn_close_order {
  position: absolute;
  top: -55px;
  transform: translateX(-50%);
  left: 50%;
  width: 45px;
  height: 45px;
  border-radius: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: $color_1;
  font-size: 24px;
}
.nav-tabs .nav-item {
  position: relative;
}
.tooltip_ {
  font-size: 13px;
  color: $color_1;
  font-weight: 700;
  width: 53px;
  height: 53px;
  top: -30px;
  line-height: 1.3;
  background-color: #ff1500;
  display: block;
  position: absolute;
  z-index: 1;
  inset-inline-end: -20px;
  @include flex-var(flex, center, center);
  text-align: center;
  border-radius: 50%;
  &::after {
    content: "";
    position: absolute;

    width: 20px;
    height: 20px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #ff1500;
    z-index: -1;
    bottom: -1px;
    rotate: 5deg;
    inset-inline-start: 9px;
    @include en {
      rotate: -5deg;
    }
  }
}
@include xs {
  .nav-tabs .nav-link {
    margin-inline-end: 0;
  }
  .div-tab-toggle {
    flex-direction: column;
    .item {
      margin: 0 0 40px;
      figure {
        margin-bottom: 10px;
      }
      .anc_package {
        margin-bottom: 15px;
      }
    }
  }
  .tooltip_ {
    inset-inline-end: -9px;
  }
  .packages {
    .nav {
      flex-direction: column;
      li {
        &:first-child {
          margin-bottom: 15px;
        }
      }
    }
  }
  .packages_section {
    padding: 80px 0;
    overflow: auto !important;
  }
  .div_order_now {
    flex-direction: column;
    max-width: 100%;
    .paragraph_order {
      width: auto;
    }
    .Select-Size {
      flex-direction: column;
      .div-select_order_ {
        margin-bottom: 15px;
      }
    }
  }
  .content_order_now {
    text-align: center;
    padding: 0;
  }
  .order_img_ {
    margin-bottom: 15px;
  }
  .order_popup {
    max-width: 100%;
  }
}
